*,*::after,*::before{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
#menu ul {
text-align: center;
margin-top: 25px;
}
#menu li {
    
    display: inline-block;
    border: 2px solid #ddd;
    width: 100px;
    height: 100px;
    margin: 0 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ddd;
    cursor: pointer;
}
#menu li.red {
    background-color: #b71540;
}
#menu li.green {
    background-color: #78e08f;
}
#menu li.blue {
    background-color: #1e3799;
}
#menu li.pink {
    background-color: #FC427B;
}
#menu li.purple {
    background-color: #82589F;
}

